/* -----------------------------------------------------
  Media Query Exemplos
  -----------------------------------------------------

@media only screen and (min-width: 320px) {}
@media only screen and (min-width: 480px) {}
@media only screen and (min-width: 600px) {}
@media only screen and (min-width: 768px) {} //col-sm
@media only screen and (min-width: 830px) {}
@media only screen and (min-width: 992px) {}
@media only screen and (min-width: 1382px) {}

*/
/*-----------------------------------------------------
  Fontes
  -----------------------------------------------------*/
.texto-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.text-fira-sans {
  font-family: 'Fira Sans', sans-serif;
}
@media only screen and (min-width: 320px) {
  .menu-hamburguer,
  #menu-hamburguer-abre {
    display: block!important;
  }
  #conteudo .menu-principal nav#nav-menu-principal {
    display: none!important;
  }
}
@media only screen and (min-width: 1200px) {
  .menu-hamburguer,
  #menu-hamburguer-abre {
    display: none!important;
  }
  #conteudo .menu-principal nav#nav-menu-principal {
    display: block!important;
  }
  #conteudo .menu-principal nav#nav-menu-principal {
    float: left;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 1360px) {
  #conteudo .menu-principal nav#nav-menu-principal {
    float: right;
  }
}
@media only screen and (min-width: 320px) {
  #conteudo .background-header {
    width: 100%;
    height: 126px;
    background-color: #522969;
    background: #522969;
    border-radius: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
  }
  #conteudo header img.logo-normal {
    display: block;
    width: 169px;
  }
  #texto-de-apoio-para-o-logo {
    display: none;
  }
  #texto-de-apoio-para-o-logo p.apaga-texto {
    display: none!important;
  }
  #conteudo .menu-principal {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 0;
  }
  .menu-hamburguer {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    display: block;
    cursor: pointer;
  }
  .menu-hamburguer span {
    font-size: 3em;
    color: #bcb8da;
  }
  #conteudo #banners-home li {
    width: 100%;
    height: 550px;
    display: block;
  }
  #conteudo #banners-home li .descritivo-banner {
    position: relative;
    left: 0;
    padding: 0 20px;
    top: 200px;
    z-index: 5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8em;
    color: #ffffff;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 600px) {
  #conteudo #banners-home li {
    width: 100%;
    height: 900px;
    display: block;
  }
  #conteudo #banners-home li .descritivo-banner {
    position: relative;
    left: 0;
    padding: 0 20px;
    top: 400px;
    z-index: 5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3em;
    color: #ffffff;
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 768px) {
  #conteudo .background-header {
    width: 3830px;
    height: 500px;
    background-color: rgba(82, 41, 105, 0.9);
    background: rgba(82, 41, 105, 0.9);
    border-radius: 50%;
    top: -250px;
    left: -1600px;
    position: fixed;
    z-index: 1;
  }
  #conteudo header img.logo-normal {
    display: block;
    width: 275px;
  }
  #texto-de-apoio-para-o-logo {
    display: block;
  }
  #texto-de-apoio-para-o-logo p {
    display: block;
  }
  #conteudo .menu-principal {
    width: inherit;
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 14.26315789473684%;
  }
  .menu-hamburguer {
    float: right;
    margin-top: 30px;
    margin-right: 100px;
    width: 50px;
    height: 50px;
    display: none;
    display: block;
    cursor: pointer;
  }
  .menu-hamburguer span {
    font-size: 3em;
    color: #bcb8da;
  }
  #conteudo #banners-home li .descritivo-banner {
    position: relative;
    left: 14.26315789473684%;
    top: 500px;
    z-index: 5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
  }
}
/***************************************************************************
****************************************************************************
Nossas áreas de atuação

****************************************************************************
***************************************************************************/
@media only screen and (min-width: 320px) {
  #nossas-areas-de-atuacao .row a {
    text-decoration: none;
    display: block;
    position: relative;
    text-align: center;
  }
  #nossas-areas-de-atuacao .row a img {
    margin: 40px auto 20px auto;
    width: 110px;
    max-width: 100%;
  }
  #nossas-areas-de-atuacao .row p {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
  }
  #nossas-areas-de-atuacao .row p + p {
    font-weight: normal;
    color: #522969;
    text-transform: none;
    min-height: 20px;
  }
  #nossas-areas-de-atuacao .row p + p + p::after {
    content: "";
    height: 3px;
    background-color: rgba(82, 41, 105, 0.5);
    width: 94px;
    margin: 0 auto;
    display: block;
    opacity: 0;
    top: 10px;
    left: 25px;
    position: relative;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  #nossas-areas-de-atuacao .row a:hover p + p + p::after,
  #nossas-areas-de-atuacao .row a:focus p + p + p::after {
    content: "";
    height: 3px;
    background-color: rgba(82, 41, 105, 0.5);
    width: 94px;
    margin: 0 auto;
    opacity: 1;
    display: block;
    top: 0px;
    left: 25px;
    position: relative;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
@media only screen and (min-width: 768px) {
  #nossas-areas-de-atuacao .row a {
    text-decoration: none;
    display: block;
    position: relative;
    text-align: left;
  }
  #nossas-areas-de-atuacao .row a img {
    margin: 40px 0 20px 0;
  }
  #nossas-areas-de-atuacao .row p {
    text-align: left;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1em;
  }
  #nossas-areas-de-atuacao .row p + p {
    font-weight: normal;
    color: #522969;
    text-transform: none;
    min-height: 130px;
  }
  #nossas-areas-de-atuacao .row p + p + p::after {
    content: "";
    height: 3px;
    background-color: rgba(82, 41, 105, 0.5);
    width: 94px;
    display: block;
    opacity: 0;
    top: 30px;
    left: 49px;
    position: absolute;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  #nossas-areas-de-atuacao .row a:hover p + p + p::after,
  #nossas-areas-de-atuacao .row a:focus p + p + p::after {
    content: "";
    height: 3px;
    background-color: rgba(82, 41, 105, 0.5);
    width: 94px;
    opacity: 1;
    display: block;
    top: 20px;
    left: 49px;
    position: absolute;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
/***************************************************************************
****************************************************************************
Premios conquistados

****************************************************************************
***************************************************************************/
@media only screen and (min-width: 320px) {
  #premios-conquistados .row a p span {
    background-image: url(../images/continue-lendo-2.gif);
    background-position-x: 0;
    background-repeat: no-repeat;
    width: 45px;
    height: 10px;
    display: inline-block;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  #premios-conquistados .row a p span {
    background-image: url(../images/continue-lendo-2.gif);
    background-position-x: 0;
    background-repeat: no-repeat;
    width: 45px;
    height: 10px;
    display: inline-block;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-left: -49px;
  }
  #premios-conquistados .cont p + p + p::after {
    content: "";
    height: 3px;
    background-color: rgba(82, 41, 105, 0.5);
    width: 68px;
    display: block;
    opacity: 0;
    top: 30px;
    left: 0;
    position: absolute;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  #premios-conquistados a:hover .cont p + p + p::after,
  #premios-conquistados a:focus .cont p + p + p::after {
    content: "";
    height: 3px;
    background-color: rgba(82, 41, 105, 0.5);
    width: 68px;
    opacity: 1;
    display: block;
    top: 20px;
    left: 0px;
    position: absolute;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
}
/***************************************************************************
****************************************************************************
O Instituto - projetos e objetivos

****************************************************************************
***************************************************************************/
@media only screen and (min-width: 320px) {
  #o-instituto-projetos-e-objetivos .objetivos-do-instituto {
    padding: 60px 10px 60px 10px;
  }
}
@media only screen and (min-width: 768px) {
  #o-instituto-projetos-e-objetivos .objetivos-do-instituto {
    padding: 60px 10px 0 10px;
    min-height: 370px;
  }
}
@media only screen and (min-width: 992px) {
  #o-instituto-projetos-e-objetivos .objetivos-do-instituto {
    padding: 60px 10px 0 10px;
    min-height: 310px;
  }
}
/***************************************************************************
****************************************************************************
O Instituto - nosso propósito

****************************************************************************
***************************************************************************/
@media only screen and (min-width: 320px) {
  #o-instituto-e-seu-proposito {
    margin: 0;
    padding: 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(1) p {
    margin-bottom: 60px;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(1) h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.3em;
    color: #f8bf2c;
    padding: 60px 0 0 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) {
    background-color: #734a8b;
    background-image: url(../images/joao-figueiro.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 90px 0 60px 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) p {
    padding: 35px 0 0 100px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-size: 1.1em;
    position: relative;
    line-height: 1.5em;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) p::before {
    content: "";
    width: 50px;
    height: 69px;
    background-image: url(../images/deco-texto.gif);
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  #o-instituto-e-seu-proposito {
    margin: 0;
    padding: 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(1) p {
    margin-bottom: 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(1) h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #f8bf2c;
    padding: 60px 0 0 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) {
    background-color: #734a8b;
    background-image: url(../images/joao-figueiro.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 90px 0 60px 0;
  }
}
@media only screen and (min-width: 992px) {
  #o-instituto-e-seu-proposito .container div:nth-child(1) h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #f8bf2c;
    padding: 176px 0 0 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) {
    background-color: #734a8b;
    background-image: url(../images/joao-figueiro.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 220px 0 30px 0;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) p {
    padding: 35px 0 0 120px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    font-size: 1.1em;
    position: relative;
    line-height: 1.5em;
  }
  #o-instituto-e-seu-proposito .container div:nth-child(2) p::before {
    content: "";
    width: 77px;
    height: 69px;
    background-image: url(../images/deco-texto.gif);
    background-repeat: no-repeat;
    background-size: 77px auto;
    background-position: left top;
    position: absolute;
    top: 0;
    left: 30px;
    display: block;
  }
}
/***************************************************************************
****************************************************************************
O Instituto - Manifesto

****************************************************************************
***************************************************************************/
@media only screen and (min-width: 320px) {
  #manifesto-zero-a-seis h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    color: #522969;
    text-align: left;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  #manifesto-zero-a-seis h3 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
    color: #522969;
    text-align: right;
    font-weight: bold;
  }
}
/***************************************************************************
****************************************************************************
O Instituto - Para nós, criança é assunto sério

****************************************************************************
***************************************************************************/
@media only screen and (min-width: 320px) {
  #para-zero-a-seis-crianca-e-assunto-serio {
    background-color: #f4f4f4;
    -webkit-box-shadow: inset 0px -10px 14px 0px rgba(224, 224, 224, 0.27);
    -moz-box-shadow: inset 0px -10px 14px 0px rgba(224, 224, 224, 0.27);
    box-shadow: inset 0px -10px 14px 0px rgba(224, 224, 224, 0.27);
  }
  #para-zero-a-seis-crianca-e-assunto-serio img {
    width: 67px;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  #para-zero-a-seis-crianca-e-assunto-serio {
    background-color: #f4f4f4;
    background-image: url(../images/para-nos-crianca-e-assunto-serio.png);
    background-position-x: 95%;
    background-position-y: 60%;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 992px) {
  #para-zero-a-seis-crianca-e-assunto-serio img {
    width: 67px;
    margin: 0;
  }
}
